input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    margin: 0%;
    display: flex;
    flex-direction: column;
}

/* Header */

.header{
    background-color: #e32636;
    padding: 10px 20px;
    font-size: 36px;
    color: wheat;
}

/* Footer */



